@page "/"
@using System.Timers

<PageTitle>DudeScapes</PageTitle>

<MudGrid Justify="Justify.Center">
	<MudItem lg="12" xs="12">
		<MudText Style="font-size: calc(2rem + 6vw);" Typo="Typo.h1" Align="Align.Center">DudeScapes</MudText>
		<MudText Typo="Typo.subtitle2" Align="Align.Center">Let's DudeScape your place</MudText>
	</MudItem>
	<MudItem lg="12" xs="12">
		<MudText Typo="Typo.body1" Align="Align.Center">Lawn Care and Pressure Washing Services Near Zephyrhills FL</MudText>
	</MudItem>
	<MudItem lg="12">
 		<MudGrid Justify="Justify.Center" Spacing="0">
 			<MudItem lg="4">
 				<MudButton FullWidth="true" Color="Color.Tertiary" Variant="lawnCareBtnVariant" OnClick="() => {UpdateCaroselWaitTime(0);}">Lawn care</MudButton>
 			</MudItem>
			<MudItem lg="4">
				<MudButton FullWidth="true" Color="Color.Info" Variant="pressureWashBtnVariant" OnClick="() => {UpdateCaroselWaitTime(1);}">Pressure washing</MudButton>
 			</MudItem>
			 <MudItem lg="4">
				<MudButton FullWidth="true" Color="Color.Primary" Variant="currentPromotionVariant" OnClick="() => {UpdateCaroselWaitTime(2);}">Current Promotion</MudButton>
 			</MudItem>
  		</MudGrid>
	</MudItem>
	<!--<h3>@test</h3>-->
	<MudItem lg="12" xs="12">
		<MudCarousel Style="height:550px; width: 100%;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(timerForCarosel)" @bind-SelectedIndex:get="selectedIndex" @bind-SelectedIndex:set="UpdateButtons" TData="object">
			<MudCarouselItem Transition="Transition.Slide" Color="Color.Tertiary">
				<div class="d-flex" style="height:100%">
					<MudItem lg="6">
						<MudStack>
							<MudText>Let's Take Care of Your Lawn</MudText>
							<MudList>
								@{
									foreach (var item in lawnCareJobs)
									{
										<MudListItem Icon="@Icons.Material.Filled.TripOrigin">@item</MudListItem>
									}
								}
							</MudList>
						</MudStack>
					</MudItem>
					<MudImage Class="d-none d-sm-flex" Fluid="true" Style="margin-left: auto;" Src="assets/mowman.jpg"></MudImage>
				</div>
			</MudCarouselItem>
			<MudCarouselItem Transition="Transition.Slide" Color="Color.Info">
				<div class="d-flex" style="height:100%">
					<MudItem lg="6">
						<MudStack>
							<MudText>Let's Wash it up!</MudText>
							<MudList>
								@{
									foreach (var item in pressureWashJobs)
									{
										<MudListItem Icon="@Icons.Material.Filled.TripOrigin">@item</MudListItem>
									}
								}
							</MudList>
						</MudStack>
					</MudItem>
					<MudImage Class="d-none d-sm-flex" Fluid="true" Style="margin-left: auto;" Src="assets/pwashman.jpg"></MudImage>
				</div>
			</MudCarouselItem>
			<MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
				<MudText Style="text-align: center;" Typo="Typo.h4">Current Promotion</MudText>
				<MudGrid>
					<MudItem lg="1"></MudItem>
					<MudItem lg="10">
						<MudText Align="Align.Center" Class="d-none d-sm-flex">
							From now until March 31, 2024 we are running a promotion to showcase our pressure washing services. Book any Lawncare service and you will receive 50% off your next pressure washing service.
							We're flexible with this promotion. Our goal is to give you a sick discount on a chore that you have probably put off for a while: Giving that house, garage, driveway or fense a good wash.
							We want you to take advantage of this service so you can book the promotional wash on the same day, or any day in the future as long as it is before March 31, 2024. If you don't want or need a wash this is
							a promotion you could gift to a family or friend. Take advantage of our pressure washing promotion and get your place looking sharp with our pressure washing promotion!
						</MudText>
						<MudText Class="d-md-none d-lg-none d-xl-none d-xxl-none d-flex ">
							50% off a pressure washing service when you book a lawncare service. This runs until March 31, 2024. Wash away grime and dirt from your exterior surfaces and make your place look new. Get in touch with us for more details!
						</MudText>
					</MudItem>
					<MudItem lg="1"></MudItem>
				</MudGrid>
				<div class="d-flex" style="height:100%">
				<MudItem lg="3"></MudItem>
				<MudItem lg="6">
						<MudImage Class="d-none d-sm-flex" Fluid="true" Style="display: block; margin: auto;" Src="assets/50offpromo-complete.jpg"></MudImage>
				</MudItem>
					<MudItem lg="3"></MudItem>
				</div>
			</MudCarouselItem>
		</MudCarousel>
	</MudItem>
	<MudItem lg="10">
		<div style="text-align: center;">
			<h4>Location:</h4>
			<MudText Typo="Typo.body1" Align="Align.Center">We're located in Zephyrhills Florida</MudText>
		</div>
		<MudGrid Justify="Justify.Center">
			<MudItem>
				<MudImage Fluid="true" Src="assets/zephyrhillsMapWithMarker.png"></MudImage>
			</MudItem>
		</MudGrid>
	</MudItem>
	<MudItem lg="10">
		<div style="text-align: center;">
			<MudText Typo="Typo.body1" Align="Align.Center">Need some work done? Get in touch:</MudText>
		</div>
	</MudItem>
	<MudItem lg="10">
		<div style="width: auto; height: 500px; overflow: hidden;">
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdwnhiehe2L6EJ3izhEfAqA6fBmcdNsIUMElNQtcIB5t7pCAg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
		</div>
	</MudItem>
</MudGrid>

@code{
	//private int test = 0;

	int timerForCarosel = 10;
	public int selectedIndex;
	private MudBlazor.Variant lawnCareBtnVariant = Variant.Filled;
	private MudBlazor.Variant pressureWashBtnVariant = Variant.Outlined;
	private MudBlazor.Variant currentPromotionVariant = Variant.Outlined;
	private IList<string> lawnCareJobs = new List<string>() { "Mowing", "Weedwacking/Trimming", "Bush or Hedge Trimming", "Leaf/Yard Cleanup", "Weed control", "Pest Repellent", "Seeding/Fertilization", "Aeration" };
	private IList<string> pressureWashJobs = new List<string>() { "House or Building Exterior", "Garage or Shed Exterior", "Porch or Deck", "Fense", "Gutters", "Driveway or Walkway", "Concrete Surfacts / Sidewalk", "Outdoor Furnature", "Removable Car Mats or Rugs" };
	private IEnumerable<string> lawnCareSelectedValues { get; set; } = new HashSet<string>() { "select a job" };
	private IEnumerable<string> pressureWashSelectedValues { get; set; } = new HashSet<string>() { "select a job" };
	private bool imNotSureCheckboxValue { get; set;} = false;
	DateTime? jobInquiryDate = DateTime.Today;
	// private ElementReference iFrameRef;

	void UpdateButtons(int value)
	{
		selectedIndex = value;
		if (value == 0)
		{
			lawnCareBtnVariant = Variant.Filled;
			pressureWashBtnVariant = Variant.Outlined;
			currentPromotionVariant = Variant.Outlined;
		}
		else if (value == 1)
		{
			lawnCareBtnVariant = Variant.Outlined;
			pressureWashBtnVariant = Variant.Filled;
			currentPromotionVariant = Variant.Outlined;
		}
		else if (value == 2)
		{
			lawnCareBtnVariant = Variant.Outlined;
			pressureWashBtnVariant = Variant.Outlined;
			currentPromotionVariant = Variant.Filled;
		}
	}

	//When a user clicks a carosel item, they probably want it to stay focused for longer so they can read the contents... 
	void UpdateCaroselWaitTime(int index)
	{
		Timer carocelStandStillTimer = new Timer(20000);
		carocelStandStillTimer.Enabled = true;
		carocelStandStillTimer.Elapsed += OnTimedEvent;
		timerForCarosel = 60;
		UpdateButtons(index);
	}

	private void OnTimedEvent(Object source, ElapsedEventArgs e)
	{
		//set carosel time back to 10..
		timerForCarosel = 10;
	}

	//Not using - keeping as an example of ternary expression incase I need a reference in the future. 
	// void ChangeLawnCareBtnVariant()
	// {
	// 	lawnCareBtnVariant = lawnCareBtnVariant.ToString() == "Filled" ? Variant.Outlined : Variant.Filled;
	// 	pressureWashBtnVariant = pressureWashBtnVariant.ToString() == "Outlined" ? Variant.Filled : Variant.Outlined;
	// }
}